.newTool { /* For marking tools in the comparison table that have not yet been used by the viewer */
	background-color: #baeec8;
}

/* Bootstrap stuff */
.container {
	text-align: center;
	width: 100%;
}

.container-fluid {
    padding-top: 65px;
}

/* tool tables */
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 500px;
}

#main {
    display: -webkit-flex; /*safari*/
    display: flex;
    -webkit-flex-flow: row wrap; /*safari*/
    flex-flow: row wrap;
    -webkit-justify-content: center; /*safari*/
    justify-content: center;
}

#main > div {
    -webkit-flex: 0 1 auto; /*safari*/
    flex: 0 1 auto;
    margin: 0 15px 15px 0;
}

#main > .center {
    min-width: 800px;
    max-width: 800px;
    -webkit-flex: 1 1 250px; /*safari*/
    flex: 1 1 250px;
}

#tool-view {
    display: -webkit-flex; /*safari*/
    display: flex;
    -webkit-flex-flow: row wrap; /*safari*/
    flex-flow: row wrap;
    -webkit-justify-content: center; /*safari*/
    justify-content: start;
}

#tool-view > div {
    -webkit-flex: 0 1 auto; /*safari*/
    flex: 0 1 auto;
    margin: 0 15px 15px 0;
}

.text-muted {
    font-size: 10px;
    vertical-align: middle;
}

.active > a > .text-muted {
    color: #E5E5E5
}

.composite-input {
    position: relative;
}

.clearable {
    padding-right: 24px;
}

.composite-input .clear {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 2;
}

.input-group .composite-input:not(:first-child) .form-control {
    border-radius: 0px 4px 4px 0px;
}

.group-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    background-repeat: repeat-x;
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel-heading + .list-group ng-include:not(:first-child) .list-group-item {
    border-top-width: 1px;
}

#filter-bar {
    width: 250px;
}

.filter-item {
    margin: 10px 0px;
}
.filter-item > span {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.tool-block {
    display: -webkit-flex; /*safari*/
    display: flex;
    -webkit-flex-flow: column nowrap; /*safari*/
    flex-flow: column nowrap;
}

.tool-block > * {
    -webkit-flex: 1 1 auto; /*safari*/
    flex: 1 1 auto;
}

.tool-header {
    display: -webkit-flex; /*safari*/
    display: flex;
    -webkit-flex-flow: row nowrap; /*safari*/
    flex-flow: row nowrap;
    margin-bottom: 10px;
}

.tool-header > * {
    -webkit-flex: 1 1 auto; /*safari*/
    flex: 1 1 auto;
}

.tool-header h4 {
    margin: 0px;
}

.tool-statuses {
    display: flex;
    -webkit-flex: 0 1 auto; /*safari*/
    flex: 0 1 auto;    
    flex-flow: column nowrap;    
    position: absolute;
    right:10px;
    top:10px;
}

.tool-description {
  widows: 80%;
  margin-bottom: 10px;
}

.tool-statuses > div.label {
    border-radius: 0;    
}
.tool-users {
    display: -webkit-flex; /*safari*/
    display: flex;
    -webkit-flex-flow: row wrap; /*safari*/
    flex-flow: row wrap;
    width:80%;
}

.tool-users > ul {
    -webkit-flex: 1 1 100px; /*safari*/
    flex: 1 1 100px;
}

.tool-users > span{
    -webkit-flex: 0 1 65px; /*safari*/
    flex: 0 1 65px;
}

.caret.reverse {
    border-bottom: 4px solid;
    border-top: 0 none;
}

.unselectable,
.unselectable * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pointer {
    cursor: pointer;
}

#filter-bar li.ordering {
    padding: 0px;
}

#filter-bar .ordering ul {
    margin: 0px;
}

.no-outline:focus,
.no-outline.active:focus {
    outline: 0;
}

.user-thumbnail {
    margin-bottom: 4px;
    min-height:95px;
}

.user-thumbnail >img {
    max-height: 50px;
}

.user-thumbnail >.watched {
    position: absolute;
    color: rgb(165, 103, 42);
    font-size: 10px;
    left: 30px;
}

/*---- stacked effect ----*/
.tool-user {
    position: relative;
    z-index: 1;
}

.stacked {
    border: 1px solid #bbb;
    position: relative;
    margin-right:5px;
}

.stacked:after,
.stacked:before {
    background: #f6f6f6;
    border: 1px solid #aaa;
    bottom: -4px;
    content: '';
    height: 100%;
    left: 2px;
    position: absolute;
    width: 102%;
    z-index: -10;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
       -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
            box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.stacked:before {
    bottom: -7px;
    left: 5px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
            
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
       -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.application-name {
    display: inline-block;
    color: #777;
}

.unused-label {
    display: block;
    margin-left: 500px;
    border-radius: 0;    
}

.hide-by-default { /*meant to be overridden by force-show*/
    display:none; 
}

.force-show {
    display:initial!important; 
}

div.user-thumbnail.thumbnail img.small-indicator{
    display: inline-block;
    max-height: 13px;
    vertical-align: 5px;
}
.user-thumbnail.thumbnail > img.small-indicator:nth-child(1){
    margin-left: 15px;        
}

.user-name{
    display: inline-block;
    width: 90px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.meta-data{
    display: -webkit-flex; /*safari*/
    display: flex;
    -webkit-flex-flow: row wrap; /*safari*/
    flex-flow: row wrap;    
}

.meta-data-header{
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 14px;
    color:#777;
}

.sort-button{    
    display:inline;

}

.sort-button-group.btn-group{
    float:right;
    margin: -7px -10px 0 4px;
}

.no-image-label{    
    height:50px;
    display: table;
    margin:auto;
    max-width: 80px;   
    text-align: center;
    color: grey; 
}

.lowercase{
    text-transform:lowercase;
}

#sort-button-dropdown{
    left:47px;
    padding: 2px 6px;
}
