#moreInfo {
	float:left;
	margin-left:2.5%;
	margin-right:0;
	width: 55%;
}

h1 {
	margin-top: 60px;
	margin-left: 25px;
}

#sidebar {
	background:#ffdfb1;
	border:1px solid black;
	width:200px;
	height:200px;
	float:right;
	position:relative;
}

#editPanel {
	float:left;
	width: 15%;
	height:300px;
	background: #ffdfb1;
	border: 1px solid black;
}

#editSlider {
	display:none;
}

.editButton {
	background-color: white;
	margin:5px;
	font-size:16px;
	padding: 5px;
	border: 1px solid black
}

.cancel {
	background-color: #faa;
	border-width:3px;
}

.shareClipButton {
    color: green;
    background-color: white;
	margin:5px;
	font-size:16px;
	padding: 5px;

}

.shareClipButton:hover{
	border: 3px solid green;
	margin:4px;
}

.shareClipButton.disabled {
	border:none;
}
.shareClipButton.disabled:hover{
	border:none;
	margin:5px;
}

.noClips {
	position:absolute;
	bottom:0;
	left:0;
	color: red;
}

.noClips:hover{
	border: 3px solid red;
	margin:4px;
}

.shared {
	margin:0;
	border: 3px solid #5db535;
}

.shared:hover{
	border-color: #8cd46b;
}

.activated.shared {
	border-color:#3b7421;
}