<breadcrumbs></breadcrumbs>
<div id='tool-view'>
  <div ng-controller='ApplicationToolsCtrl'>
    <div class="gridStyle" ng-grid="gridOptions"></div>
  </div>

  <div ng-controller='ToolUsersCtrl'>
    <div class="gridStyle" ng-grid="gridOptions"></div>
  </div>

  <div ui-view='details'></div>
</div>