<!DOCTYPE html>
<html>
  <head>
    <title>Co-worker Tool Comparison</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script data-main="main" src="lib/bower/requirejs/require.js"></script>
    <!--<script type="text/javascript" data-app-id="RpxgqAwYTcYmtE6IHpsA" src="https://c64.assets-yammer.com/assets/platform_js_sdk.js"></script>-->

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.css" />
	<link rel="stylesheet" href="lib/bower/ng-grid/ng-grid.css">
	<link rel="stylesheet" href="lib/cropper/cropper.css">
	
	<link rel="stylesheet" href="css/slider.css" />
    <link rel="stylesheet" href="css/basic.css" />
    <link rel="stylesheet" href="css/playback.css" />
	<link rel="stylesheet" href="css/crop.css" />
	<link rel="stylesheet" href="css/share.css" />
	<link rel="stylesheet" href="css/status.css" />
  <link rel="stylesheet" href="css/settings.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller='RootCtrl'>
    <!-- Navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Socaster</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <p class="navbar-text"><span ng-bind='user.name'></span></p>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><a href="#/settings"><span class="glyphicon glyphicon-cog"></span></a></li>

            <li><a href="#/status">View Status<span class="badge hide-by-default {{numberUnreadNotifications !=0 ? 'force-show' : ''}}"><span ng-bind='numberUnreadNotifications'></span></span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    
    <!-- Main container -->
    <div class='container-fluid' ui-view>
      <div id='main' ng-controller='MainCtrl'>
        <div class='left-sidebar' ui-view='left-sidebar'></div>
        <div class='center' ui-view='center'></div>
        <div class='right-sidebar' ui-view='right-sidebar'></div>
      </div>
    </div>
  </body>
</html>